version: '3.7'

services:
  mls-geocoding-poi:
    image: wrkfmdit/geocoding-poi:${MLS_TAG:-latest}
    build:
      context: .
      args:
        MODULE: geocoding-poi
        APP: geocoding-poi
    environment:
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - type: bind
        source: ${MLS_GEOCODING_POI_CONFIG:-./geocoding-poi/src/main/resources}
        target: /config
        read_only: true
      - type: bind
        source: ${MLS_LOG:-./log}
        target: /log

  mls-geocoding-vienna:
    image: wrkfmdit/geocoding-vienna:${MLS_TAG:-latest}
    build:
      context: .
      args:
        MODULE: geocoding-vienna
        APP: geocoding-vienna
    environment:
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - type: bind
        source: ${MLS_GEOCODING_VIENNA_CONFIG:-./geocoding-vienna/src/main/resources}
        target: /config
        read_only: true
      - type: bind
        source: ${MLS_LOG:-./log}
        target: /log

  mls-geocoding-gmaps:
    image: wrkfmdit/geocoding-gmaps:${MLS_TAG:-latest}
    build:
      context: .
      args:
        MODULE: geocoding-gmaps
        APP: geocoding-gmaps
    environment:
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - type: bind
        source: ${MLS_GEOCODING_GMAPS_CONFIG:-./geocoding-gmaps/src/main/resources}
        target: /config
        read_only: true
      - type: bind
        source: ${MLS_LOG:-./log}
        target: /log

  mls-geocoding-intersection:
    image: wrkfmdit/geocoding-gmaps:${MLS_TAG:-latest}
    build:
      context: .
      args:
        MODULE: geocoding-gmaps
        APP: geocoding-gmaps
    environment:
      SPRING_PROFILES_ACTIVE: docker,intersection
    volumes:
      - type: bind
        source: ${MLS_GEOCODING_INTERSECTION_CONFIG:-./geocoding-gmaps/src/main/resources}
        target: /config
        read_only: true
      - type: bind
        source: ${MLS_LOG:-./log}
        target: /log

networks:
  default:
    name: mls-network
